<div class="teal">
	<h3> 
		<a href="mailto: siciliana@gmail.com"> Contact me</a> | 
		Follow me | 
			<ul class="submenu">
		    <li><a href="#">Foo</a></li>
		    <li><a href="#">Bar</a></li>
		    <li><a href="#">Baz</a></li>
			</ul>
		<a href="https://github.com/siciliana"> Hire me </a>
	</h3> 
</div>

<div class="tomato">
	<h1>Jennifer Fry</h1>
	<center><div class="jen"></div></center>
	<h2>Web Developer, Global Vagabond</h2>
	<br>

	
</div>

