<div class="teal">
	<h3 class="header"> 
		<a href="mailto: siciliana@gmail.com"> Contact me</a> | 
		Follow me | 
			<ul class="submenu">
		    <li><a href="#">Foo</a></li>
		    <li><a href="#">Bar</a></li>
		    <li><a href="#">Baz</a></li>
			</ul>
		<a href="https://github.com/siciliana"> Hire me </a>
	</h3> 
</div>

<div class="tomato">
	<h1>Jennifer Fry</h1>
	<center><div class="jen"></div></center>
	<h2>Web Developer, Global Vagabond</h2>
	<br>

</div>

<div class="about">
	<h3 class="about"> About Me </h3>
		<div class="paragraph">
			<p> Full stack web developer and recent graduate of Dev Bootcamp with prior experience in PR, Event management, and Customer Support in the Czech Republic, Mexico, and US. Particular interests include business development, hospitality and travel, social networking, community building, and front end web development. </p>
			<br>
			<p>Specialties: Event management, B2B networking, concept development, community building, conferences, content management, HTML5, CSS3, JavaScript, Ruby on Rails</p>
		</div>
</div>

<div class="skills">
	<h3 class="skills"> Tech Skills </h3>
		<div class="paragraph">
			<ul>
				<li>Ruby on Rails</li>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>jQuery</li>
				<li>Ajax</li>
				<li>JavaScript</li>
				<li>Active Record</li>
				<li>PostgreSQL/Sqlite</li>
				<li>Pair Programming</li>
				<li>Agile Workflow</li>
			</ul>
		</div>
</div>

<div class="projects">
	<h3 class="projects"> Projects </h3>
		<div class="paragraph">
			<h4> <a href="http://www.codersforhumanity.org">Coders for Humanity </a></h4>
			<p>A community-minded platform to connect web developers to people in need of a technical solution: those with a social cause, who are not tech-savvy, or lack financial resources. I designed and tested the database and enjoyed using an Agile workflow.
		</div>
		<br>
		<div class="paragraph">
			<h4> <a href="http://better-than-congress.herokuapp.com">Better than Congress </a></h4>
			<p>Designed and coded a satirical web app that compares notorious celebrities and other less-desirable things with members of Congress in a fun voting game.
		</div>
</div>

<div class="experience">
	<h3 class="experience"> Experience </h3>
		<div class="paragraph">

		</div>
</div>
