<div class="teal">
	<h3> 
		<a href="mailto: siciliana@gmail.com"> Contact me</a> | 
		Follow me | 
			<ul class="submenu">
		    <li><a href="#">Foo</a></li>
		    <li><a href="#">Bar</a></li>
		    <li><a href="#">Baz</a></li>
			</ul>
		<a href="https://github.com/siciliana"> Hire me </a>
	</h3> 
</div>

<div class="tomato">
	<h1>Jennifer Fry</h1>
	<center><div class="jen"></div></center>
	<h2>Web Developer, Global Vagabond</h2>
	<br>

</div>

<div class="about">
	<h3 class="about"> About Me </h3>
		<div class="paragraph">
			<p> I am new to software development and am looking for a role as an apprentice or junior developer to train as a software craftsman, for an effective work culture, and for a good work-life balance. I am used to making a difference one person at a time, now I wish to build solutions that improve the lives of many. I love problem solving, fixing things, attention to detail, improving process, and beautiful craftsmanship.</p>
		</div>
</div>
