<%= render "navbar" %>

<div class="album_body">
	<ul class="instagram">
	  <% @instagram.each do |instagram| %>

	  <li><%= image_tag instagram.images.standard_resolution.url, :class=> "insta_img" %></li>

	  <% end %>
	</ul>
</div> 

<br>

<div class="map">
	<h2> Jen's Travels</h2>
	<br>
	<img src="http://maps.googleapis.com/maps/api/staticmap?parameters?key=AIzaSyD7JRZvzpRkU30gzd4Eo4FSykqjhW9GbZs&size=300x400&sensor=false&markers=Barcelona+Spain" alt= "Barcelona, Spain">
</div> 
