.album_body {
	padding: 200px 200px;
}

img.insta_img {
	height: 100px;
	border-radius: 50%;
}

img.insta_img:hover {
	height: 400px;
	-webkit-transition: width 1s, height 1s, -webkit-transform 1s;
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg); /* Safari */
}

ul.instagram {
	text-align: center;
}
ul.instagram li {
	display:inline;
}

.teal {
	background: teal;
	top:0;
	height: 60px;
	position: fixed;
	width: 100%;
}

		h2 {
			padding-top: 4px;
		}
.static_map { 
		text-align: center;
		img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 100px;
		}
}

#map {
	width: 100%;
	min-height: 300px;
	margin: 30% 0 4% 0;
}

#barcelona, #prague, #cali {
	  display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    iframe {
			border-radius: 50%;
    }
}
